<div>
  <!--  className={Styles.wrapperItem}-->
  >
  <div>
    <!--    className={Styles.leftSide}-->

    <div>
      <!--      className={Styles.progressBar}-->

      <div>

        <!--        style={{ width: `${progress}%` }}-->
      </div>
      <label>{{file.name}}</label>
      <div className='row mt-5'>
        <div className='col-md-6 m-auto'>
          <img [src]="previewFile" alt=''/>
          <!--          style={{ width: '100%' }} -->

        </div>
      </div>
    </div>
    <span>
<!--    className={Styles.percentage}-->

      {{progress}}%</span>
  </div>
</div>
